@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes spinOnce {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@theme {
  --font-paper: "Paperlogy", sans-serif;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@layer utilities {
  .text-white {
    @apply text-black dark:text-white;
  }
  .text-yellow-900 {
    @apply text-yellow-900 dark:text-yellow-500;
  }
  .border-yellow-900 {
    @apply border-yellow-900 dark:border-yellow-500;
  }
}

body {
  font-family: "Paperlogy", sans-serif;
}

.animate-spin-once {
  animation-name: spinOnce;
  animation-fill-mode: forwards;
}
